.gallery {
  column-gap: 1rem;
  columns: 4 250px;
  margin-bottom: 2rem;
}

.cat-card {
  background-color: #fff;
  border: 1px solid grey;
  break-inside: avoid;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.cat-card-body {
  padding: 0.5rem;
}

img {
  width: 100%;
  outline-offset: -10px;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.flag {
  width: 32px;
  height: 24px;
}
