<div class="constainer-fluid">
  <div class="gallery">
    <div class="cat-card rounded" *ngFor="let cat of cats">
      <img [src]="cat.url || cat.image.url " class="rounded zoom" alt="..." />
      <div class="cat-card-body">
        <h5 class="card-text text-center">
          Breed: {{cat.name || cat.breeds[0].name}}
        </h5>

        <h5 class="card-text text-center">
          Orign:
          <img
            [src]="'https://flagcdn.com/32x24/'+ cat.breeds[0].country_code.toLowerCase() +'.png'"
            class="flag"
          />
          {{cat.origin || cat.breeds[0].origin}}
        </h5>

        <h5 class="card-text text-center">
          Life span: {{cat.life_span || cat.breeds[0].life_span}}
        </h5>
      </div>
    </div>
  </div>
</div>
