<div
  class="w-100 d-flex justify-content-around justify-content-md-center justify-content-lg-center mt-2"
>
  <div class="d-md-none d-lg-none">
    <button
      class="btn btn btn-menu"
      data-bs-toggle="offcanvas"
      data-bs-target="#menu"
      aria-controls="menu"
      *ngIf="showMenu"
    >
      Menu
    </button>
  </div>
  <div
    [ngClass]="{
      'd-none': showMenu,
      'd-block': !showMenu,
      'd-md-block': true,
      'd-lg-block': true
    }"
  >
    <h1 [ngClass]="{ 'me-5': showMenu }">FORTESZA TEST</h1>
  </div>
  <div class="d-flex align-items-center ms-5">
    <a class="navbar-brand" href="https://thecatapi.com/" target="_blank">
      <img
        src="assets/images/gato.png"
        width="32"
        height="32"
        class="d-inline-block align-top"
      />
      <span class="h3 m-2">CATS</span>
    </a>
  </div>
</div>
