<nav class="navbar navbar-light">
  <div class="row w-100 justify-content-center">
    <div class="col d-block d-lg-none ms-3">
      <button
        class="btn btn btn-menu"
        data-bs-toggle="offcanvas"
        data-bs-target="#menu"
        aria-controls="menu"
      >
        Menú
      </button>
    </div>
    <div
      class="col d-flex align-items-center justify-content-end justify-content-lg-center"
    >
      <a class="navbar-brand" href="https://thecatapi.com/" target="_blank">
        <img
          src="../../../../assets/images/gato.png"
          width="32"
          height="32"
          class="d-inline-block align-top"
        />
        <span class="h3 m-2">CATS</span>
      </a>
    </div>
  </div>
</nav>
