<nav class="navbar navbar-light">
  <div class="row w-100 justify-content-center">
    <div class="col-6 col-lg-2 d-flex justify-content-start align-items-center">
      <button
        class="btn btn-secondary"
        data-toggle="collapse"
        data-target="#menu"
        aria-controls="menu"
      >
        Menú
      </button>
    </div>

    <div class="col-7 d-none d-lg-flex justify-content-center">
      <h1>FORTESZA TEST</h1>
    </div>

    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-end">
      <a class="navbar-brand" href="https://thecatapi.com/">
        <img
          src="../../../../assets/images/gato.png"
          width="32"
          height="32"
          class="d-inline-block align-top"
          alt=""
        />
        <span class="h3 m-2">CATS</span>
      </a>
    </div>
  </div>
</nav>
