.catloading {
  align-items: center;
  background-color: #f0a23d1d;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#circle {
  text-align: center;
  transform-origin: center 30%;
  animation: 5s circle infinite;
  opacity: 0;
}

@keyframes circle {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

#textL {
  opacity: 0;
  animation: ld-in 3s 0s ease infinite;
}
#textO {
  opacity: 0;
  animation: ld-in 3s 0.1s ease infinite;
}
#textA {
  opacity: 0;
  animation: ld-in 3s 0.2s ease infinite;
}
#textD {
  opacity: 0;
  animation: ld-in 3s 0.3s ease infinite;
}
#textI {
  opacity: 0;
  animation: ld-in 3s 0.4s ease infinite;
}
#textN {
  opacity: 0;
  animation: ld-in 3s 0.5s ease infinite;
}
#textG {
  opacity: 0;
  animation: ld-in 3s 0.6s ease infinite;
}
#c1 {
  opacity: 0;
  animation: ld-in 3s 0.7s ease infinite;
}
#c2 {
  opacity: 0;
  animation: ld-in 3s 0.8s ease infinite;
}
#c3 {
  opacity: 0;
  animation: ld-in 3s 0.9s ease infinite;
}

@keyframes ld-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
